.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: calc(100% + #{$width--scrollbar});

}

.logo {
  margin-bottom: 5rem;
  img {
    width: 5rem;
  }
  svg {
    color: $color--white;
    width: 100%;
    height: 10rem;
    @include media("<phone") {
      height: 5rem;
    }
    path {
      fill: currentColor;
    }
  }
}
