.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
//  width: $width--sidebar;
  position: fixed;
  color: $color--white;
  padding: $padding--sidebar;

  &.sidebar--left {
    left: 0;
    top: 0;
    padding-right: 0;

    header {
      h1 {
        margin-left: -1px;
        line-height: 0.8;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      margin-bottom: $icon--size / 2;
      p {
      margin: 0;
        a {
          color: rgba($color--white, 0.5);
          display: inline;
        }
        &:hover {
          color: $color--white;
          a {
            color: rgba($color--white, 1);
          }
        }
      }

    }
  }

  &.sidebar--right {
    right: -$width--scrollbar;
    top: 0;
    align-items: flex-end;
    padding-left: 0;
  }
}
