// Animations for each module

$transition--smooth: cubic-bezier(.2,.88,.52,1);
$ratio: 2.2;
$delay__1: 285ms;
$delay__2: $delay__1 * $ratio;
$delay--total: ($delay__1 + $delay__2) * 2;

.header {
   * {
     opacity: 0;
     animation: $delay--total fadeInBottom forwards;
     animation-timing-function: $transition--smooth;
   }
  .logo {
     animation-delay: $delay__1;
  }
  h1 {
    animation-delay: $delay__2;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
