// Colors

$color--black: #000;
$color--white: #fff;

// Typography

$font-mono: 'Source Code Pro', monospace;
$font-sans: 'Cabin', sans-serif;
$font-serif: 'Cardo', serif;

// Breakpoints

$breakpoints: (phone: 30em, tablet: 55em, desktop: 64em, bigassscreen: 105em);

// Transitions


// Sizes

$width--scrollbar: 0.5rem;
