// Colors

$color--black: #000;
$color--white: #fff;

// Typography

$font--mono: 'Source Code Pro', monospace;
$font--sans: 'Cabin', sans-serif;
$font--serif: 'Cardo', serif;

// Breakpoints

$breakpoints: (phone: 30em, tablet: 55em, desktop: 64em, bigassscreen: 105em);

// Transitions


// Sizes

$width--scrollbar: 0.5rem;
$width--sidebar: 300px;
$padding--sidebar: $width--sidebar / 4;

$bp--desktop: 65em;

$icon--size: 50px;
$icon--thick: 1px;
$ease: cubic-bezier(.5,0,0,1);
$icon--size: 30px;


$width--flex__col: calc((100vw - (#{$width--sidebar} / 2)) / 5 - 2px );
